.Invoice {
  /* /height: 10vh; */
  box-shadow: 0px 0px 20px -8px black;
  display: flex;
  margin: 2px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

}

.Total {
    position: absolute;
    right: 10px;
    top: 25px;
    font-weight: 700;
    color: darkblue;

  }

h4 {
  margin: 10px;
  font-size: 18px;
  align-self: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

