* {
  margin-left: 20px;
  size: 30px;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-bottom: 40px;
  padding: 10px;
}
