.login-wrapper {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;

   
}

.container {
    height: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.username input, .password input{
    margin: 0;
    width: 200px;
    padding: 10px;
    height: 20px;
    border-radius: 10px;
}

.username p, .password p{
    margin-bottom: 0;
}

.button {
    margin: 20px;
}

.button button{
    width: 100px;
    height: 35px;
    background-color: #1a269b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
}