/*font-family: 'Lemonada', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Zen Antique', serif;
font-family: 'Zen Kurenaido', sans-serif;*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  background-color: #fed345ee;
  width: 100%;
}
.header-title {
  padding: 20px;
  margin-top: 0px;
  color: #10295ffa;
  font-size: 18px;
  font-family: "Zen Antique", serif;
}
