* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list {
  font-weight: 400;
}

.list .listItems {
  list-style-type: none;
  padding-right: 10px;
  cursor: pointer;
}

.list .listItems li:hover {
  font-weight: 300;
}
a {
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}
/* 
@media screen and (max-width: 700px) {
  nav {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
  }
  .list {
    display: flex;
    flex-direction: column;
    right: 1%;
    padding: 20px 10px 0;
    flex-wrap: nowrap;

    font-weight: 400;
  }

  .list .listItems {
    list-style-type: none;
    padding-right: 10px;
    cursor: pointer;
  }

  .list .listItems li:hover {
    font-weight: 300;
  }
  a {
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    color: #000;
    font-size: 14px;
  }

  .hamburguer {
    border-radius: 10px;
    top: 70%;
    right: 10%;
    width: 35px;
    height: 6px;
    background: #10295ffa;
    position: absolute;
    box-shadow: 0 2px 5px rgba(15, 13, 13, 0.5);
    transition: 0.5s;
  }

  .hamburguer::before {
    top: -12px;
    content: "";
    position: absolute;
    width: 37px;
    height: 6px;
    background: #10295ffa;
    box-shadow: 0 2px 5px rgba(15, 13, 13, 0.5);
    transition: 0.4s;
    border-radius: 10px;
  }

  .hamburger::after {
    top: 12px;
    content: "";
    position: absolute;
    width: 30px;
    height: 6px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    border-radius: 10px;
  }

  .icon {
    position: absolute;
    z-index: 4;
    right: 1%;
    width: fit-content;
    height: 40px;
    cursor: pointer;
  }

  .icon .iconActive .hamburguer {
    background: transparent;
    box-shadow: 0 2px 5px transparent;
  }
  .icon .iconActive .hamburguer:after {
    top: 0px;
    background: rgb(29, 11, 11);
    transform: rotate(-225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }
  .icon .iconActive .hamburguer:before {
    top: 0;
    background: #fff;
    transform: rotate(-135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  }

  .menu .menuOpen {
    width: 150px;
    height: 100vh;
    background: #000;
    box-shadow: 10px 0 69px 0px rgba(0, 0, 0, 0.59);
  }

  .menu .menuClose {
    display: none;
    width: 0px;
  }
}
 */
