footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  box-shadow: 2px gray;
  margin-top: 78px;
  bottom: 10px;
  font-size: 10px;
  width: 100%;
}

.footer {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

p {
  padding: 5px;
  color: rgb(4, 23, 63);
}
