@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,800&family=Poppins&family=Roboto+Mono:wght@300;500&family=Zen+Antique&family=Zen+Kurenaido&display=swap');
/*font-family: 'Lemonada', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Zen Antique', serif;
font-family: 'Zen Kurenaido', sans-serif;*/


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}